*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px;
    margin: 0px;
    border: 0px;
}
h2{
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 32px;
}
header .desktop{
    display:flex;
    align-items:center;
    position: fixed;
    z-index: 2;
    width:100%;
    background-color: white;
    color:black;
    height: 64px;
    top: 0px;
}
header .logo{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
header .logo img{
    margin-left: 16px;
}
a {
    text-decoration: none;
    color: black;
}
header li{
    display: inline;
    padding-right: 16px;
}
.content{
    display: flex;
    background-color: rgb(212, 212, 212);
    padding: 32px 24px;
    margin-top: 64px;
    align-items: center;
}
.content img{
    height: 500px;
    width: auto;
}
.content-info{
    padding:24px;
}
.content a{
    color: white;
    background-color: grey;
    padding: 8px 100px;
}
.content-info h2{
    padding-bottom: 32px;
}
.content-info p{
    padding-bottom: 24px;
}

