*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px;
    margin: 0px;
    border: 0px;
    vertical-align: baseline;
}

header{
    position: fixed;
    z-index: 2;
    width:100%;
    background-color: white;
    color:black;
    height: 64px;
    display:block;
}

.Academy{
    display:flex;
    align-items: center;
    margin-left: 24px;
}

nav{ 
    display: flex;
    margin-right: 24px;
    float: right;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 16px;
}